# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
absl-py=0.15.0=pypi_0
astunparse=1.6.3=pypi_0
backcall=0.2.0=pypi_0
blas=1.0=mkl
ca-certificates=2023.01.10=haa95532_0
cachetools=4.2.4=pypi_0
certifi=2021.10.8=pypi_0
charset-normalizer=2.0.7=pypi_0
clang=5.0=pypi_0
colorama=0.4.4=pypi_0
cycler=0.11.0=pypi_0
decorator=5.1.0=pypi_0
emoji=1.6.3=pypi_0
emojis=0.6.0=pypi_0
examples=1.0.2=pypi_0
flatbuffers=1.12=pypi_0
gast=0.4.0=pypi_0
google-auth=2.3.2=pypi_0
google-auth-oauthlib=0.4.6=pypi_0
google-pasta=0.2.0=pypi_0
grpcio=1.41.1=pypi_0
h5py=3.1.0=pypi_0
icc_rt=2022.1.0=h6049295_2
idna=3.3=pypi_0
intel-openmp=2023.1.0=h59b6b97_46319
ipython=7.29.0=pypi_0
jedi=0.18.0=pypi_0
joblib=1.1.0=pypi_0
keras=2.6.0=pypi_0
keras-preprocessing=1.1.2=pypi_0
kiwisolver=1.3.2=pypi_0
libffi=3.4.4=hd77b12b_0
markdown=3.3.4=pypi_0
matplotlib=3.4.3=pypi_0
matplotlib-inline=0.1.3=pypi_0
mkl=2023.1.0=h8bd8f75_46356
mkl-service=2.4.0=py38h2bbff1b_1
mkl_fft=1.3.6=py38hf11a4ad_1
mkl_random=1.2.2=py38hf11a4ad_1
mnist=0.2.2=pypi_0
numpy=1.19.5=py38h749eb61_5
numpy-base=1.19.5=py38h9413944_5
oauthlib=3.1.1=pypi_0
opencv-python=4.5.4.58=pypi_0
openssl=1.1.1t=h2bbff1b_0
opt-einsum=3.3.0=pypi_0
pandas=1.3.4=pypi_0
parso=0.8.2=pypi_0
pickleshare=0.7.5=pypi_0
pillow=8.4.0=pypi_0
pip=23.0.1=py38haa95532_0
plotly=5.3.1=pypi_0
prompt-toolkit=3.0.22=pypi_0
protobuf=3.19.0=pypi_0
pyasn1=0.4.8=pypi_0
pyasn1-modules=0.2.8=pypi_0
pydantic=1.9.1=pypi_0
pygments=2.10.0=pypi_0
pyparsing=3.0.4=pypi_0
python=3.8.16=h6244533_3
python-dateutil=2.8.2=pypi_0
pytz=2021.3=pypi_0
requests=2.26.0=pypi_0
requests-oauthlib=1.3.0=pypi_0
rsa=4.7.2=pypi_0
scikit-learn=1.0.1=pypi_0
scipy=1.7.1=pypi_0
seaborn=0.11.2=pypi_0
setuptools=67.8.0=py38haa95532_0
six=1.15.0=pypi_0
sqlite=3.41.2=h2bbff1b_0
tbb=2021.8.0=h59b6b97_0
tenacity=8.0.1=pypi_0
tensorboard=2.7.0=pypi_0
tensorboard-data-server=0.6.1=pypi_0
tensorboard-plugin-wit=1.8.0=pypi_0
tensorflow=2.6.0=pypi_0
tensorflow-estimator=2.6.0=pypi_0
termcolor=1.1.0=pypi_0
threadpoolctl=3.0.0=pypi_0
traitlets=5.1.1=pypi_0
typing-extensions=3.7.4.3=pypi_0
urllib3=1.26.7=pypi_0
vc=14.2=h21ff451_1
vs2015_runtime=14.27.29016=h5e58377_2
wcwidth=0.2.5=pypi_0
werkzeug=2.0.2=pypi_0
wheel=0.38.4=py38haa95532_0
wrapt=1.12.1=pypi_0
